/* @font-face {
    font-family: "my_custom_font";
    src: url("./custom_font.ttf") format("opentype");
  } */

  /* @font-face { 
    font-family: "circular_std"; 
    src: url('./CircularStd.otf'); 
  }  */

  /* @font-face {
    font-family: 'AcuminBoldItal';
    src: local('AcuminBoldItal'), url(.Acumin-BdItPro.otf) format('truetype');
  } */